<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{.title}}</title>
  <link href="../styles/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <h2 class="center" id="{{.chapterId}}">{{.chapterTitle}}</h2>

  {{range $idx,$section := .sections}}<p>{{$section}}</p>
  {{end}}
</body>
</html>