<?xml version='1.0' encoding='utf-8'?>
<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1" xml:lang="en">
  <head>
    <meta content="urn:uuid:{{.uuid}}" name="dtb:uid"/>
    <meta content="1" name="dtb:depth"/>
    <meta content="0" name="dtb:totalPageCount"/>
    <meta content="0" name="dtb:maxPageNumber"/>
  </head>
  <docTitle>
    <text>{{.title}}</text>
  </docTitle>
  <navMap>
    <navPoint id="internal_titlepage" playOrder="1">
      <navLabel>
        <text>{{.title}}</text>
      </navLabel>
      <content src="text/internal_titlepage.xhtml"/>
    </navPoint>
    {{range $index,$nm := .navmap}}
    <navPoint id="{{$nm.Id}}" playOrder="{{$nm.PlayOrder}}">
      <navLabel>
        <text>{{$nm.Title}}</text>
      </navLabel>
      <content src="text/{{$nm.Filename}}"/>
    </navPoint>{{end}}
  </navMap>
</ncx>